@font-face {
  font-family: 'Shrikhand-Regular';
  src: url('/assets/font/Shrikhand-Regular.eot');
  src: local('☺'), url('/assets/font/Shrikhand-Regular.woff') format('woff'), url('/assets/font/Shrikhand-Regular.ttf') format('truetype'), url('/assets/font/Shrikhand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #32c24d;
}

.eshop-header__logo {
  margin-left: 50px;
}

.eshop-header__logo-text {
  font-family: Shrikhand-Regular, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
  margin: 0;
}

.eshop-header__user {
  margin-right: 50px;
}
