:host {
  display: block;
  background-color: #fafafa;
  height: 100%;
}

.product-list__items {
  display: block;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  list-style: none;
}

.product-list__item {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 1px solid #000;
}
