<ul class="product-list__items">
  <li class="product-list__item" *ngFor="let productdEl of categoryProducts">
    <product-item [product] = "productdEl"></product-item>
  </li>
  <p class="product-list__no-items" *ngIf="categoryProducts.length === 0">No items in category!</p>
</ul>