:host {
  display: flex;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.cart-item__image-area {
  flex-basis: 200px;
  display: flex;
}

.cart-item__product-image {
  display: block;
  width: 150px;
  height: auto;
  margin: auto;
}

.cart-item__product-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.cart-item__toolbar {
  text-align: right;
}

.cart-item__remove-button {
  border: none;
  outline: none;
  color: white;
  background-color: red;
  vertical-align: top;
}

.cart-item__remove-button:active,
.cart-item__remove-button:focus {
  border: none;
  outline: none;
}

.cart-item__remove-button:hover {
  background: darkred;
  cursor: pointer;
}

.cart-item__product-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.cart-item__product-short-desc {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.cart-item__action-area {
  display: flex;
  justify-content: space-between;
}

.cart-item__update-qty-input {
  width: 40px;
}

.cart-item__update-qty-input.ng-invalid {
  outline: 1px solid red;
}

.cart-item__price-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
