<div class="cart-item__image-area">
  <img [src]="cartItem.product.previewImagePath" alt="" class="cart-item__product-image">
</div>
<div class="cart-item__product-detail">
  <div class="cart-item__toolbar">
    <button type="button" class="cart-item__remove-button" (click)="onDelete()">X</button>
  </div>
  <p class="cart-item__product-title">{{ cartItem.product.name }}</p>
  <p class="cart-item__product-short-desc">{{ cartItem.product.shortDescription }}</p>
  <div class="cart-item__action-area">
    <form class="cart-item__update-qty-form" [formGroup]="quantityForm">
      <label for="qty" class="cart-item__update-qty-label">quantity</label>
      <input type="number" class="cart-item__update-qty-input" id="qty" formControlName="quantity" (input)="onInput()">
    </form>
    <div class="cart-item__price-total">
      <span class="cart-item__price-text">Price: {{ cartItem.total }}</span>
    </div>
  </div>
</div>
