:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.user__span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  padding-right: 20px;
}

.user__image {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: blue;
}
