:host {
    display: block;
    background-color: #d3d3d5;
    height: 100%;
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__item {
    height: 100px;
}

.navbar__item:hover {
    background-color: #b2b4b3;
    cursor: pointer;
}

.navbar__item--active {
    background-color: #b2b4b3;
}

.navbar__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.navbar__link:active, .navbar__link:focus, .navbar__link:visited {
    color: #000;
    text-decoration: none;
}

.navbar__icon {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.navbar__title {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

