<ul class="navbar__list">
  <li class="navbar__item" routerLinkActive="navbar__item--active">
    <a class="navbar__link" routerLink="/catalog">
      <span class="navbar__icon icon-home"></span>
      <span class="navbar__title">Shop</span>
    </a>
  </li>
  <li class="navbar__item" routerLinkActive="navbar__item--active">
    <a class="navbar__link" routerLink="/cart">
      <span class="navbar__icon icon-basket"></span>
      <span class="navbar__title">Shopping Cart</span>
    </a>
  </li>
  <li class="navbar__item" routerLinkActive="navbar__item--active">
    <a class="navbar__link" routerLink="/orders">
      <span class="navbar__icon icon-doc-text"></span>
      <span class="navbar__title">Orders</span>
    </a>
  </li>
</ul>