<cart-item *ngFor="let cartItemEl of cartItems; let i = index;" [cartItem]="cartItemEl" [index]="i" #cartItem></cart-item>
<h2 class="shopping-cart__no-items" *ngIf="cartItems.length === 0">Shopping cart is empty!</h2>
<order-form [canPlaceOrder]="canPlaceOrder" *ngIf="cartItems.length !== 0"></order-form>

