:host {
  display: block;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 40px;
}

.category__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.category__link:hover {
  background-color: #cce5a3;
  cursor: pointer;
}

.category__link:active,
.category__link:focus,
.category__link:visited {
  color: #000;
}

.category__link--active {
  background-color: #cce5a3;
}

.category__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
