:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.root__eshop-header {
  height: 60px;
}

.root__eshop-main {
  flex: 1;
  display: flex;
}

.root__router-outlet {
  flex: 1;
}

.root__navbar {
  flex-basis: 100px;
}

.root__eshop-footer {
  height: 60px;
}
