<div class="root__eshop-header">
  <notifier></notifier>
  <header></header>
</div>
<div class="root__eshop-main">
  <div class="root__router-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="root__navbar">
    <navbar></navbar>
  </div>
</div>
<div class="root__eshop-footer">
  <footer></footer>
</div>