:host {
  display: block;
  border: 1px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.order-item__cart-items {
  border: 1px solid black;
}

.order-item__cart-items-table {
  width: 100%;
}

.order-item__cart-items-thead {
  border-bottom: 1px solid black;
}

.order-item__cart-items-thead-td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.order-item__cart-item-value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.order-item__info {
  margin-bottom: 20px;
}

.order-item__info-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.order-item__info-table {
  width: 100%;
}

.order-item__info-td-key {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.order-item__info-td-value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: right;
}

.order-item__total {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
