<div class="order-item__cart-items">
  <table class="order-item__cart-items-table">
    <thead class="order-item__cart-items-thead">
      <tr class="order-item__cart-items-thead-tr">
        <td class="order-item__cart-items-thead-td">Product Name</td>
        <td class="order-item__cart-items-thead-td">Quantity</td>
        <td class="order-item__cart-items-thead-td">Total</td>
      </tr>
    </thead>
    <tbody class="order-item__cart-items-tbody">
      <tr class="order-item__cart-item" *ngFor="let cartItem of orderItem.cartItems">
        <td class="order-item__cart-item-value">{{ cartItem.product.name }}</td>
        <td class="order-item__cart-item-value">{{ cartItem.quantity }}</td>
        <td class="order-item__cart-item-value">{{ cartItem.total }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="order-item__info">
  <p class="order-item__info-header">Order information:</p>
  <table class="order-item__info-table">
    <tbody class="order-item__info-tbody">
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">First Name:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.userFirstName }}</td>
      </tr>
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">Last Name:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.userLastName }}</td>
      </tr>
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">Email:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.email }}</td>
      </tr>
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">Phone:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.phone }}</td>
      </tr>
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">Address:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.address }}</td>
      </tr>
      <tr class="order-item__info-tr">
        <td class="order-item__info-td-key">Comment:</td>
        <td class="order-item__info-td-value">{{ orderItem.userInfo.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="order-item__total">Total: {{ orderItem.total }}</div>