<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-form__form">
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="userFirstName" class="order-form__input-label">First Name</label>
      <input type="text" id="userFirstName" formControlName="userFirstName" class="order-form__input">
    </div>
    <span class="order-form__invalid-input" *ngIf="!orderForm.get('userFirstName').valid && orderForm.get('userFirstName').touched">This field is required!</span>
  </div>
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="userLastName" class="order-form__input-label">Last Name</label>
      <input type="text" id="userLastName" formControlName="userLastName" class="order-form__input">
    </div>
    <span class="order-form__invalid-input" *ngIf="!orderForm.get('userLastName').valid && orderForm.get('userLastName').touched">This field is required!</span>
  </div>
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="email" class="order-form__input-label">Email</label>
      <input type="text" id="email" formControlName="email" class="order-form__input">
    </div>
    <span class="order-form__invalid-input" *ngIf="!orderForm.get('email').valid && orderForm.get('email').touched">Please enter a valid email!</span>
  </div>
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="phone" class="order-form__input-label">Phone</label>
      <input type="text" id="phone" formControlName="phone" class="order-form__input">
    </div>
    <span class="order-form__invalid-input" *ngIf="!orderForm.get('phone').valid && orderForm.get('phone').touched">Please enter a valid phone number!</span>
  </div>
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="address" class="order-form__input-label">Address</label>
      <input type="text" id="address" formControlName="address" class="order-form__input">
    </div>
    <span class="order-form__invalid-input" *ngIf="!orderForm.get('address').valid && orderForm.get('address').touched">This field is required!</span>
  </div>
  <div class="order-form__input-group">
    <div class="order-form__input-wrapper">
      <label for="comment" class="order-form__input-label">Comment</label>
      <textarea type="text" id="comment" class="order-form__textarea" formControlName="comment" rows="6"></textarea>
    </div>
  </div>
  <div class="order-form__submit-group">
    <div class="order-form__total">Total: {{total}}</div>
    <button type="submit" class="order-form__submit-button" [disabled]="!(orderForm.valid && canPlaceOrder)">Place Order</button>
  </div>
</form>