:host {
  display: block;
  width: 420px;
  margin: 20px auto;
}

.order-form__form {
  display: block;
  width: 100%;
}

.order-form__input-group {
  margin-bottom: 10px;
}

.order-form__input-label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.order-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: grey;
}

.order-form__input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.order-form__invalid-input {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
}

.order-form__textarea {
  resize: none;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: grey;
}

.order-form__submit-group {
  display: flex;
  justify-content: space-between;
}

.order-form__total {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.order-form__submit-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 1px 15px;
}

.order-form__submit-button:active,
.order-form__submit-button:focus {
  border: none;
  outline: none;
}

.order-form__submit-button:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.order-form__submit-button[disabled] {
  background-color: lightgreen;
}

.order-form__submit-button[disabled]:hover {
  cursor: initial;
}
