:host {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
}

.notifier__message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin: 0;
    background-color: lightsalmon;
}