<a class="product__link" [routerLink]="[product.id]" routerLinkActive="product__link--active">
  <img [src]="product.previewImagePath" alt="" class="product__previewImg">
  <span class="product__name">{{ product.name }}</span>
  <span class="product__shortDesc">{{ product.shortDescription }}</span>
  <span class="product__qty">Quantity available: {{ quantity - quantityReserved }}</span>
  <span class="product_inStock" *ngIf="quantity - quantityReserved > 0; else outOfStock">In Stock</span>
  <ng-template #outOfStock>
    <span class="product_outOfStock">Out Of Stock</span>
  </ng-template>
  <span class="product__price">Price: {{ price }}</span>
</a>