:host {
  display: block;
  height: 100%;
}

.product__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.product__link:active,
.product__link:focus,
.product__link:visited {
  color: #000;
}

.product__link:hover {
  background-color: lightgray;
  cursor: pointer;
}

.product__link--active {
  background-color: lightgray;
}

.product__previewImg {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
  padding-top: 30px;
}

.product__name {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  padding: 0 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__shortDesc {
  display: block;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 10px;
}

.product__qty {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 10px;
}

.product_inStock {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: green;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 10px;
}

.product_outOfStock {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: red;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 10px;
}

.product__price {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 5px 0 10px;
  padding: 0 10px;
}
