<img [src]="product.imagePath" alt="" class="product-detail__image">
<p class="product-detail__name">{{ product.name }}</p>
<p class="product-detail__description">{{ product.description }}</p>
<p class="product-detail__qty-avilable">Quantity available: {{ quantity - quantityReserved }}</p>
<p class="product-detail__price">Price: {{ price }}</p>
<form class="product-detail__add-to-cart-form" [formGroup]="addToCartForm" (ngSubmit)="onSubmit()" *ngIf="quantity - quantityReserved > 0">
  <div class="product-detail__input-wrapper">
    <input class="product-detail__input-qty" type="number" formControlName="quantity">
    <button class="product-detail__add-to-cart-btn" type="submit" [disabled]="!addToCartForm.valid">Add to Cart</button>
  </div>
  <span *ngIf="!addToCartForm.valid" class="product-detail__invalid-qty-notify">Please enter a valid quantity!</span>
</form>
