:host {
  display: block;
  background-color: #e3e3e6;
  height: 100%;
}

.product-detail__image {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.product-detail__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: bold;
  text-align: center;
  margin: 20px 0;
  box-sizing: border-box;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-detail__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 20px 20px;
}

.product-detail__qty-avilable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 20px 20px;
}

.product-detail__price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  margin: 0 20px 20px;
}

.product-detail__add-to-cart-form {
  display: block;
}

.product-detail__input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-detail__input-qty {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 40px;
  padding: 5px;
  margin-right: 10px;
}

.product-detail__input-qty.ng-invalid {
  outline: 1px solid red;
}

.product-detail__add-to-cart-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 1px 15px;
}

.product-detail__invalid-qty-notify {
  display: block;
  text-align: center;
}

.product-detail__add-to-cart-btn:active,
.product-detail__add-to-cart-btn:focus {
  border: none;
  outline: none;
}

.product-detail__add-to-cart-btn:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.product-detail__add-to-cart-btn[disabled] {
  background-color: lightgreen;
}

.product-detail__add-to-cart-btn[disabled]:hover {
  cursor: initial;
}

.product-detail__invalid-qty-notify {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: red;
}
